/* index.css */

body {
    margin: 0;
    padding: 0;
    background-color: #F9FBFF;
    color: #121212;
    font-family: 'Pretendard', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  